<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Vare</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<h1> Tilføj ny vare</h1>

<form action="/createItem" method="post">
    <label>Skriv varenavn</label>
    <input type="text" name="item_name"/>
    <label>Skriv Katagori</label>
    <input type="text" name="category"/>
    <label>Indtast Beholdning</label>
    <input type="number" name="amount"/>
    <button class="btn-save" type="submit">Tilføj vare</button>
</form>
<body>

</body>
</html>