<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrewPub</title>
    <link rel="stylesheet" type="text/css" href="../MyCSS.css">
</head>
<body>
    <h1>Login for leder</h1>
<center>
    <table>
        <thead>
        <tr>
            <th>Leder ID</th>
            <th>Kodeord</th>
            <th2></th2>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form action="/leaderLogin" method="post">
                <td><input type="text" placeholder="Leder ID" name="id"/></td>
                <td><input type="text" placeholder="Kodeord" name="password"/></td>
                <td><button class="btn-update" type="submit">Login</button></td>
            </form>
        </tr>
        </tbody>
    </table>
    <a href="/">
        <button class="btn-bottom">Tilbage til brugervalg</button>
    </a>
</center>
</body>
</html>